@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 0;
    min-height: 100vh;
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 100%);
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 0 5px rgba(100, 100, 100, 0.1);
    width:  600px;
    max-width: 100%;
}

.quiz-header{
    padding: 4rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}
ul li label{
    cursor: pointer;
}

h1{
    padding-top: 10rem;
    margin: 0;
}
h2{
    margin: 0;
}

button{
    background-color: #8e44ad;
    color: white;
    display: block;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.2rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px
}
button:hover {
    background-color: #8e4491;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}